$primary-color: #343a40;
$secondary-color: #e9ecef;
$accent-color-1: #dc3545;
$accent-color-2: #ffffff;

$text-primary: $primary-color;
$background-light: $secondary-color;
$button-primary: $accent-color-1;
$text-on-button: $accent-color-2;
